<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<div class="texto-total">
    <h1>Perfil do usuário</h1>
    
    <% if(!nome){ %>
        <p> Faça login para acessar o seu perfil %></p>
    <% } %> 
    <% if(nome) { %>
        <P>Olá!, <%= nome %>!Seja bem-vindo(a)!</P>
    <% } %>
    
</div>
    <%- include ('partials/footer.ejs') %>